<nav>
  <ul
    style="
      background-color: red;
      display: flex;
      list-style: none;
      justify-content: space-evenly;
      padding: 10px;
    "
  >
    <li><a href="/">Home</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
  </ul>
</nav>
